/* style for flower modules */

.container {
        width:90%
        height:default;
}


section {
        box-sizing:border-box;
        width:33%;
        padding:.5em;
        margin:.5em;
        border:5px solid #DDD;
}
.clearfix:after {
        content:"";
        display: block;
        clear: both;
  
}

.strikethrough {
            text-decoration: line-through;
}

}
li (
        circle: 50%;
)

}
.bg-red {
        border: 2px solid black;
        padding: 10px;
        border-radius: 50%;
        color:red;
}
.bg-yellow {
        border-radius: 50%;
        color:yellow;
}
.bg-pink {
        border-radius: 50%;
        color:hotpink;
        
}

a:hover {
   background-color: greenyellow;
   color:deepskyblue;
}
img {
  max-width 200px;
  height:15em;
  margin:.1em;
  float:right;
}