/* style for flower modules */

.container {
        width:90%
        height:default;
}


section {
        box-sizing:border-box
        width:33%;
        padding:.5em;
        margin:.5em;
        border:3px solid #DDD;
}
.bg-red {
        border-radius: 30%;
}
.br-yellow {
        border-radius: 30%;
}
.br-pink {
        border-radius: 30%;
}

a:hover {
   background-color: greenyellow;
}
img {
  width 1em;
  height: auto
  float:left;
}